* {
    margin: 0;
}
body {
    background-color: rgb(193, 193, 185);
}
ul {
    list-style: none;
    background-color: rgb(200, 57, 14);
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: center;
}
li {
}
li a {
    padding: 20px;
    text-decoration: none;
    color: rgb(230, 220, 220);
}
li a:hover{
    color: rgb(30, 10, 210);
    text-decoration: underline;
    background-color: rgb(232, 223, 232);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
footer {
    background-color: rgb(255, 47, 0);
    color: white;
    text-align: center;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}
